.Letter {
    margin: 2px;
    border: 2px solid rgba(64, 64, 64, 0.3);
    max-width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: white;
}

.Letter-green {
    background-color: rgb(75, 201, 108);
}

.Letter-yellow {
    background-color: rgb(209, 202, 58)
}

.Letter-gray {
    background-color: rgb(105, 105, 105);
}